.main_memu{
 position:absolute;
  left:0px;top:0px;
 background-color:#0A01AD;
 height:15px;
 z-index:0;
 width: 100%;
 border: thin;
 text-align: center;
 font-family:Tahoma;
 padding: 0; 

 }
 

 
#body_words {
   background-color: #6A813B;
   font-family:Tahoma;
   color: #000000;
}

 
 table
 {
 border-collapse:collapse;
 font-family:Tahoma;
 }
 
 .main_table{
 position:absolute;
 left:455px;top:10px;
 background-color:#FFFFFF;
 height:0px;
 z-index:0;
 width: 250px;
 border-width : 2px;
 border-style: solid;
 border-color: BLACK;
 padding:0;
 font-family:Tahoma;
 display:block;
  }
 
 
.td_idS{ width: 38px; text-align: center; background-color:#FFFFFF; }
.td_date{ width: 65px; text-align: center; background-color:#FFFFFF;}
.td_word{ text-align: center; background-color:#FFFFFF; } 

 
 
 
 .capt
 {
 position:absolute;
 text-align:center;    
 color: white;
 margin:0;padding:0;
 font-size:11px;
 font-family: Arial;
  z-index:0;    
 }
 
 .frame_table
 {
 color: WHITE;    
 position:absolute;    
 border-color: WHITE;    
 border-width : 2px;
 border-style: solid;    
 }
 .bt
 {
 position:absolute;
 text-align: center;
 width:126px;height:20px;
 margin:0;padding:0;
 font-family:Tahoma;font-size:11px;z-index:0; 
 font-family:Tahoma; 
 }
 
 
 
 
 
 td{
 border-width : 1px;
 border-style: solid; 
 border-color: gray;
 font-size: 12px;   
 }
 .td_main
 {
  
  background-color:white;
  }

 
.memu_href
{ 

color: #FFFFFF;
font-size: 14px;
font-family: Arial;
}

 .icon_href
{ 

 color: #FFFFFF;
font-size: 14px;
font-family: Arial;
}



.dialog_label, .dialog_input, .dialog_error  {
   padding: 10px;
   color: #000;
   text-align: right;
   float: left; 
   width: 150px;
   font-size: 14px;
   font-weight: bold;
}

.dialog_long_label { 
   padding: 10px;
   color: #000;
   text-align: center;
   width: 100%;
   font-size: 14px;
   font-weight: bold;
}

.dialog_links {
   display: block;
   font-size: 14px;
   font-weight: bold;
   color: #000;
   padding: 10px;
   width: 100%;
   text-align: center;
}

.dialog_modal_title {
  font-size: 18px;
  color: #000;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.dialog_input {
   width: 150px;
}

.dialog_error {
   width: 100%;
   text-align: center;
   color: #F00;
}

.dialog_input input {
   width: 100%;
   font-weight: normal;
}

#login {
   background: #123;
}